* {
	font-family: 'Roboto', sans-serif;
	padding: 0px;
	margin: 0px;
}
body {
	display: flex;
	background-color: #192A32;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
#container {
	aspect-ratio: 2/2.7;
	width: 400px;
	/* para deixar o header no topo e footer na base */
	justify-content: space-between;
}
header {
	display: flex;
	height: 10%;
	align-items: center; /*align vertically*/
	justify-content: center;
}
.header-item {
	height: 100%;
	width: calc(100%/3);
	align-items: center;
	justify-content: center;
	display:  flex;
}
.header-left {
	font-size: 30px;
	display: flex;
	justify-content: flex-start;
}
#Xstroke {
	fill: #30BFB1;
	padding-right: 10px;	
}
#refresh {
	background-color: #A7BDC9;
	padding: 8px;
	border-radius: 10px;
}
#texto-rodada {
	background-color: #1F3540;
	padding: 8px;
	color: #A7BDC9;
	border-radius: 10px;
}
.header-right {
	font-size: 30px;
	display: flex;
	justify-content: flex-end;
}
main {
	aspect-ratio: 1/1;
	height: 75%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.fileira1, .fileira2, .fileira3 {
	display: flex;
	justify-content: space-between;
	gap: 12px;
}
#box {
	background-color: #1F3540;
	aspect-ratio: 1/1;
	width: calc(100%/3);
	display: flex;
	border-radius: 10px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
footer {
	height: 15%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
#footer-boxes {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: calc(100%/3);
	aspect-ratio:  1/1;
	gap: 12px;
}
#player {
	background-color: #30BFB1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	aspect-ratio: 2/1;
	width: calc(270%/3);
	border-radius: 10px;
}
#empates {
	background-color: #A7BDC9;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	aspect-ratio: 2/1;
	width: calc(270%/3);
	border-radius: 10px;	
}
#cpu-score {
	background-color: #EEAF34;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	aspect-ratio: 2/1;
	width: calc(270%/3);
	border-radius: 10px;
}